
/* *{
  border: 1px solid pink;
} */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: black !important; */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: unset !important;
  text-decoration: none !important;
}


/* add-product */

.add-product {
  margin: 30px;
}

.add-product-btn {
  margin: 10px;
}

/* admin-panel */

.admin-panel {
  margin: 10px;
}

/* product-detail */
.product-detail {
  margin: 10px;
}

/* header */

.header {
  display: flex;
  justify-content: center;  
  
 
}

.header img {
  width: 750px;
}

/* карточки */

.container {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  background-color: darkgray;
  border-radius: 20px
}


.block {
  display: flex;
  justify-content: space-between;
}

.block a {
  color: white !important;
}


.homepage {
  background-color: black;
}

.buttons {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Payment */

.payment-page {
  margin: 30px;
}

.payment-page button {
  position: absolute;
  left: 70%;

 
}

.payment-form {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.payment-page input {
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s;
}

.movie-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-li {
  margin-top: 10px;
}
.product-img img {
  height: 200px;
}

.cart-product {
  display: flex;
}

.product-info {
  margin-top: 10px;
  margin-left: 10px;
}

.cart-global {
  background-color: black;
}

.cart {
  margin: auto auto;
  width: 70%;
  background-color: black;
  padding-bottom: 50px;
}

.cart-btn {
  color: black !important;
}

.MuiTableFooter-root {
  display: flex !important;
  justify-content: space-between;
  align-items: center !important;
  padding-bottom: 20px;
}

.detail-btn {
  display: flex;
  position: absolute;
  left: 850px;
  top: 1050px;
}

.MuiGrid-root {
  display: flex;
  flex-direction: column !important;
}

