
/* *{
  border: 1px solid black;
} */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: black !important; */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: unset !important;
  text-decoration: none !important;
}

/* header */

.header {
  display: flex;
  justify-content: center;  
  
 
}

.header img {
  width: 750px;
}

/* карточки */

.container {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  background-color: darkgray;
  border-radius: 20px
}


.block {
  display: flex;
  justify-content: space-between;
}

.block a {
  color: white !important;
}


.homepage {
  background-color: black;
}

.product-img img {
  height: 200px;
}

.cart-product {
  display: flex;
}

.product-info {
  margin-top: 10px;
  margin-left: 10px;
}

.cart-global {
  background-color: black;
}

.cart {
  margin: auto auto;
  width: 70%;
  background-color: black;
  padding-bottom: 50px;
}

.cart-btn {
  color: black !important;
}

.MuiTableFooter-root {
  display: flex !important;
  justify-content: space-between;
  align-items: center !important;
  padding-bottom: 20px;
}